
.carousel,
.item,
.item.active {
    height: 550px;
	}
.pricing-testimonial .carousel,
.pricing-testimonial .item,
.pricing-testimonial .item.active {
    height: 280px;
	}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

