/*CSS for mobiles and tablets */
@media (max-width:1280px){
	.login_btn{margin:0px;}
	.logo {padding-left: 0px!important;}
	.nav_menu li { padding: 0px!important;}
	.nav > li > a {padding: 9px 12px !important;}
	.newsletter_wrap h2 {font-size: 25px;}
	.arrow-img i{position:static;}
	.newsletter_wrap p { font-size: 15px;}
	iframe { margin-left: 0px; padding-right: 6px;}
	.referral_box{padding: 10px 24px 40px 27px;}
	.features_btn {margin-top:20px;}


}
@media (max-width:1024px){
.logo{padding-left: 45px;}
.nav_menu {margin: 35px 0;padding:0px;}
.nav_menu li { padding: 0px !important;}
.login_btn {float:left;}
.content_wrap h1 {margin: 38px 0 0; font-size: 45px;}
iframe {margin-left: 0px;margin-bottom:10px;}	
.edit_content {padding: 19px 15px 41px;}
.edit_content  h3{font-size:35px;}
 .edit_content  p{font-size:28px;}
 
 .navbar > .container .navbar-brand{margin:0px;}
}

@media (max-width:991px){ 
 .logo {width: 100%;}
 .nav_menu {margin: 35px 0 10px; padding: 0;}
 .nav_menu li a {font-size:13px;padding: 9px 10px !important;} 
 .referral_box { margin-top: 28px;}
 .referral_box span {font-size:20px;}
 .referral_box p{font-size:14px;}
 .content_wrap span{font-size:26px;}
 .content_wrap{top:15%;}
 .newsletters > img{margin:0px;max-width:100%;}
 .edit_section{min-height:inherit;}
 
}
@media (max-width:767px){
	.logo{float:none;padding:0px!important;}
	.content_wrap h1 {margin: 15px 0px 0px 0px;}
	.features_btn {margin-top: 12px;}
	.container > .navbar-header{margin:0px;}
	.content_wrap{top:9%;}
	.navbar-default .navbar-collapse{background-color:#fff; z-index:999; position:relative}
	.login_btn{float:none;}
	.writer_name{float:none !important;}
	.nav_menu{float:none; text-align:center;}
	.nav_menu li{text-align:center;}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color: #ff8814; color: #fff;}
	.newsletter_wrap{margin:0px !important;}
	.easystep_section .row{margin:0px !important;}
    .carousel, .item, .item.active{height:auto;}
	}


@media (max-width:599px){
.logo{float:none!important;padding:0px!important;}
.content_wrap span {font-size: 39px;}
 .content_wrap h1 { font-size: 45px;}
.referral_box{
    margin-top: 52px;
	padding:10px;
	width:100%;
}
.referral_box span{font-size:20px;}
.referral_box p{font-size:14px;}
.newsletter_section{
   position: relative;
   }
.newsletter_wrap h2 {
	font-size:20px;
}
.arrow-img i{
	display:none;
}
.newsletter_wrap p{
	padding:30px 0px 0px;
	font-size:14px;
}
iframe {
    margin: 14px 0;
}
.mailed_newsletter h2{
	font-size:20px;
}
.mailed_newsletter p {
	font-size:14px!important;
}
.gurantee_box h3{
	font-size:20px;
}
.customer_satisfaction p{
	font-size:14px;
}
.gurantee_rules h4 {
	font-size:15px;
}
.easystep_section  h3{
	font-size:18px;
}
.easystep_section p{
	font-size:14px;
}
.edit_content {
    padding: 19px 10px;
}
.edit_content h3{
	font-size:20px;
}
.edit_content p{
	font-size:14px;
}
.get_ready h2  {
	font-size:20px;
}

.main_list li{
	font-size:17px;
	width: 49%;
	margin-bottom:12px;
}
.sub_menu li a{
	font-size:14px;
}
.copyright span {
	font-size:14px;
}
.m-t-14less{margin-top:8px !important;}
}
/*Start of mobile CSS*/
@media (max-width:480px){
.collapse.in {
    
}

 .logo img{
    width: 26%;
}
.navigation{}
.content_wrap h1{
	font-size:20px;
	word-spacing: 0px;
   margin: 8px 0px 0px 0px;
}
.content_wrap span {
	font-size:18px;
	margin-bottom: 7px;
}
.features_btn {
	margin-top:0px;
	font-size:8px;
	float:left;
}
.referral_box{
    margin-top: 52px;
	padding:10px;
	width:100%;
}
.referral_box span{font-size:20px;}
.referral_box p{font-size:14px;}
.newsletter_section{
   position: relative;
   
}
.newsletter_wrap h2 {
	font-size:20px;
}
.arrow-img i{
	display:none;
}
.newsletter_wrap p{
	padding:30px 0px 0px;
	font-size:14px;
	margin:0px;
}
iframe {
    margin: 14px 0;
}
.mailed_newsletter h2{
	font-size:20px;
}
.mailed_newsletter p {
	font-size:14px!important;
}
.gurantee_box h3{
	font-size:20px;
}
.customer_satisfaction p{
	font-size:14px;
}
.gurantee_rules h4 {
	font-size:15px;
}
.easystep_section  h3{
	font-size:18px;
}
.easystep_section p{
	font-size:14px;
}
.edit_content {
    padding: 19px 10px;
}
.edit_content h3{
	font-size:20px;
}
.edit_content p{
	font-size:14px;
}
.get_ready h2  {
	font-size:20px;
}

.main_list li{
	font-size:17px;
	width: 98%;
	margin-bottom:12px;
}
.sub_menu li a{
	font-size:14px;
}
.copyright span {
	font-size:14px;
}
}
