body {background:url("../images/user-page-bottom.png") no-repeat bottom/contain #F3F3F3 ;
     bottom: 0;   font-family: 'Calibri';color:#898686;}
a{-webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;}
a:hover, a:focus{text-decoration:none;}  
.no-padding{padding:0px;}
.p-t-0 {
  padding-top: 0px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-t-5 {
  padding-top: 5px !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.padding-5 {
  padding: 5px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.padding-10 {
  padding: 10px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.padding-15 {
  padding: 15px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.padding-20 {
  padding: 20px !important;
}
.p-t-25 {
  padding-top: 25px !important;
}
.p-r-25 {
  padding-right: 25px !important;
}
.p-l-25 {
  padding-left: 25px !important;
}
.p-b-25 {
  padding-bottom: 25px !important;
}
.padding-25 {
  padding: 25px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.padding-30 {
  padding: 30px !important;
}
.p-t-35 {
  padding-top: 35px !important;
}
.p-r-35 {
  padding-right: 35px !important;
}
.p-l-35 {
  padding-left: 35px !important;
}
.p-b-35 {
  padding-bottom: 35px !important;
}
.padding-35 {
  padding: 35px !important;
}
.p-t-40 {
  padding-top: 40px !important;
}
.p-r-40 {
  padding-right: 40px !important;
}
.p-l-40 {
  padding-left: 40px !important;
}
.p-b-40 {
  padding-bottom: 40px !important;
}
.padding-40 {
  padding: 40px !important;
}
.p-t-45 {
  padding-top: 45px !important;
}
.p-r-45 {
  padding-right: 45px !important;
}
.p-l-45 {
  padding-left: 45px !important;
}
.p-b-45 {
  padding-bottom: 45px !important;
}
.padding-45 {
  padding: 45px !important;
}
.p-t-50 {
  padding-top: 50px !important;
}
.p-r-50 {
  padding-right: 50px !important;
}
.p-l-50 {
  padding-left: 50px !important;
}
.p-b-50 {
  padding-bottom: 50px !important;
}
.padding-50 {
  padding: 50px !important;
}
/* Generic Margin Helpers
------------------------------------
 */
.m-t-0 {
  margin-top: 0px !important;
}
.m-r-0 {
  margin-right: 0px !important;
}
.m-l-0 {
  margin-left: 0px;
}
.m-b-0 {
  margin-bottom: 0px;
}
.no-margin{margin:0px !important;}
.m-t-5 {
  margin-top: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.margin-5{margin:5px;}
.m-t-10 {
  margin-top: 10px !important;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.margin-10{margin:10px;}
.m-t-15 {
  margin-top: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.margin-15{margin:15px;}
.m-t-20 {
  margin-top: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.margin-20{margin:20px;}
.m-t-25 {
  margin-top: 25px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.margin-25{margin:25px;}
.m-t-30 {
  margin-top: 30px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.margin-30{margin:30px;}
.m-t-35 {
  margin-top: 35px;
}
.m-r-35 {
  margin-right: 35px;
}
.m-l-35 {
  margin-left: 35px;
}
.m-b-35 {
  margin-bottom: 35px;
}
.margin-35{margin:35px;}
.m-t-40 {
  margin-top: 40px;
}
.m-r-40 {
  margin-right: 40px;
}
.m-l-40 {
  margin-left: 40px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.margin-40{margin:40px;}
.m-t-45 {
  margin-top: 45px;
}
.m-r-45 {
  margin-right: 45px;
}
.m-l-45 {
  margin-left: 45px;
}
.m-b-45 {
  margin-bottom: 45px;
}
.margin-45{margin:45px;}
.m-t-50 {
  margin-top: 50px;
}
.m-r-50 {
  margin-right: 50px;
}
.m-l-50 {
  margin-left: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.margin-50{margin:50px;}
.m-t-170{margin-top:170px;}
/*font size */
.fs-10{font-size:10px;}
.fs-11{font-size:11px;}
.fs-12{font-size:12px;}
.fs-13{font-size:13px;}
.fs-14{font-size:14px;}
.fs-15{font-size:15px !important;}
.fs-16{font-size:16px;}
.fs-17{font-size:17px;}
.fs-18{font-size:18px !important;}
.fs-20{font-size:20px !important;}
.fs-22{font-size:22px;}
.fs-24{font-size:24px;}
.fs-28{font-size:28px;}
.fs-30{font-size:30px;}
.fs-35{font-size:35px;}
.fs-40{font-size:40px;}
.fs-50{font-size:50px;}
img{max-width:100%;}
.header-nav {text-align:right;margin: 0px;}
.navbar-nav{margin: 0px;}
.header-nav .navbar-nav{float:none;}
.header-nav .navbar-nav>li{float:none;display:inline-block; margin:10px 10px 0 10px;}
.header-nav .navbar-nav>li:last-child{margin-right:0px;}
.header-nav .nav>li>a{color:#898686; font-size:18px; padding:0px;}
.header-nav .nav>li>a:focus, .header-nav .nav>li>a:hover, .header-nav .nav>li.active>a{background-color:transparent; color:#3688D4;}
.header-nav  .navbar-toggle{border: 1px solid #3688D4;}
.header-nav .navbar-toggle .icon-bar{background-color: #3688D4}
.top-head{
	background:#3282CD;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
	z-index: -1;
}
.top-head1{background: #3688D4; height: 30px;}
.shadow-section{ -moz-box-shadow:0px 0px 22px #676767;  -webkit-box-shadow:0px 0px 22px #676767;
    box-shadow:0px 0px 22px #676767;background: #fff;}

.condition-heading{background:#EAEAEA;position: absolute; min-height: 43px;left: 0;   right: 0;  z-index: -1;}
.condition-wrap{min-height: 43px;background:#F3F3F3; z-index:2;}
.condition-wrap h1{color: #3688D4; font-size: 33px; font-weight: 600; margin: 0;
    padding: 2px 10px 5px;text-align:center;}
.logo-wrap{padding-left:0px;}
.logo-wrap > a {border-right: 3px solid #d1d1d1; padding-right: 15px; display:inline-block;margin-top:15px;}
.head-wrap {padding:20px 35px 15px 35px;}
.head-contact{padding:0px;}
.help-contact{background: #3688D4;color: #fff; float: right; padding: 3px 15px; font-size: 19px;}
.help-contact > span {font-size: 25px;}
.selling-text { padding-left: 37px; position: absolute;top: 37%;	-webkit-transform: translate(0%, -30%);
    -moz-transform: translate(0%, -30); -ms-transform: translate(0, -30);-o-transform: translate(0%, -30);transform: translate(0, -30);}
.selling-text h2{color:#fff;	font-size: 39px;}
.selling-text span{display:block;font-size:27px; color:#fff;}
.selling-text dfn{color: #f1f1f1; font-size: 19px; line-height: 21px; margin-top: 30px;display: inline-block;}
.house-wrap{position: relative;	border-bottom: 1px solid #fff;}
.quote-form { background: rgba(255, 255, 255, 0.8); position: absolute; right: 3.5%;
    top: 0;  padding: 20px 20px 30px 20px; max-width:340px; width:100%;}
.quote-form p{color: #000; font-size: 20px; font-style: normal;  margin: 0;}
.quote-form h3{color: #000;font-size:22px;margin:0;font-weight: 600; padding-bottom:10px; padding-top:3px;}
.quote-form .simply {font-size:17px; font-style:italic;line-height: 20px; color:#000;}
.rule{border-color: #666;border-width: 4px; margin: 15px 0;  width: 65px;}
.form-group label { font-size: 18px;color: #222; font-weight: 100;    margin-bottom: 3px;
}
.quote-form .form-control{border:1px solid #bbb;}
.offer-btn{max-width:250px;width:100%;background: #3688D4;color:#fff;border:transparent;
	text-transform: uppercase;padding:7px 15px;border-radius:3px;-moz-border-radius:3px;
	-webkit-border-radius:3px;  font-size: 18px; font-weight: 600;margin-top:5px;margin-left: 1px;}
.notation-box{background: #f9f9f9;padding:0px 20px 0 115px ; border: 1px solid #e7e7e7;position:relative; }
.notation-section { padding:35px;}	
.notation-box img{position:absolute;left:5px; top:5px;}
.notation-box p{font-size: 17px; color: #a4a4a4;   padding: 16px 0;margin:0px;}
.notation-box p a{color:#a4a4a4;font-weight:600; text-decoration:underline;}	
.business-section { margin-top: 46px;}
.business-content {}
.business-content h2{font-size:30px; margin: 0;  padding-bottom: 12px;color:#000;}
.business-content p{font-size:16px;color:#a4a4a4; line-height:1.5; font-style: normal;}
.text-565{color: #565050 !important;}
.video-img {border:2px solid #e7e7e7; border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;display:inline-block; width:100%;}
#scrollbox3 {overflow: auto; width: 100% !important; max-height: 600px;
    padding: 0 10px 0 0px;background: #f9f9f9; }
.track3 { width: 10px; background: rgba(0, 0, 0, 0); margin-right: 2px; border-radius: 10px;
    -webkit-transition: background 250ms linear;  transition: background 250ms linear;
}
.track3:hover, .track3.dragging {background: #d9d9d9;  background: rgba(0, 0, 0, 0.15);}
.handle3 {width: 7px;right: 0; background: #999; background: rgba(0, 0, 0, 0.4); border-radius: 7px;
    -webkit-transition: width 250ms; transition: width 250ms;}
.track3:hover .handle3, .track3.dragging .handle3 {width: 8px;}
.view-section{border:1px solid #e7e7e7;}
.view-section h3{font-size: 20px;margin-top: 16px;color:#565050;	padding:8px;margin:0px;	border-bottom:1px solid #e7e7e7;}
.sellneed-wrap h2{font-size: 32px;color:#000;margin-bottom: 22px;margin-top:0px;}
.sellneed-wrap p{font-size:17px;color: #a4a4a4;line-height:1.3;}
.footer-wrap{padding:35px 35px 20px;margin:-30px 15px 0px;background: #fff;}
.shadow-footer-top{background:url(../images/shadow-1.png) repeat-x; height:28px;position:relative;}
/* Facebook */
.fb-icon-bg {background: #354f88;}
.fb-bg {background: #3b5998;}
/* Google+ */
.g-icon-bg {	background: #ce3e26;} 
.g-bg {background: #de4c34;}
.twiter-icon-bg {background:#03C3DA;} 
.twiter-bg {background: #00D0E9;}

.same-social{width: 100%;
    float: left;
    color: #fff;
    font-size: 16px;
    line-height: 33px;
	border-radius: 2px;padding-right:15px;}
.same-social .iconsfbg{height: 34px;
	width: 34px; 
	float:left;
    margin-right: 10px;
    text-align: center;
    line-height: 36px;
	font-size: 18px;
	border-radius: 2px 0px 0px 2px;
}
.same-social:hover i{ -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;}

.same-social i{ -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;}
.footer-para p{
	font-size: 18px;
	color:#a4a4a4;
	padding-bottom: 20px;
	margin:0px;
	
}
.social-wrap ul li{
	     color: #fff;
         margin-right: 0px;
        padding:0px 0px 0 0px;
   }
.social-wrap ul li a{
	color:#fff;
	font-size:18px;
}
.company-name > span { color: #333; font-size: 30px;}


.sellneed-wrap {
    padding-right: 3px;
}
.sellneed-section {
     padding: 0 22px 40px;
}




.client-view p{
	font-size:17px;
	color: #a4a4a4;
}

.client-view h4{
	color: #a4a4a4;
    font-size: 17px;
    font-style: italic;
    margin-bottom: 15px;
    margin-top: 0;
	
}
.client-view{
	font-size:17px;
	margin-left:15px;
	 border-bottom: 1px solid #e7e7e7;
	  margin-top: 17px;
}

.footer-container{
	max-height:100%;
	 width: 1139px;
	margin:6px auto;
	
	
	
}




.foot-menu ul li a {
     color: #717171;
    font-size: 17px;
    
    
}
.foot-menu ul li{
	 padding-left: 15px;
    padding-right: 10px;
}
.copywrite-wrap{
	margin:0px 15px;
	background: #e0e0e0;
}

.copywrite-wrap p {
    color: #a4a4a4;
    font-size: 15px;
   margin:0px;
    padding-bottom: 15px;
    padding-top: 13px;
}
@media(max-width:991px){
	.help-contact{text-align:center;}
	.selling-text{width:40%;}
	.quote-form{max-width:300px;}
	.selling-text h2{margin:0px;font-size:25px;}
	.selling-text span{font-size:20px;}
	.quote-form{padding:10px 10px 15px 10px;}
	.quote-form .simply{font-size:15px;}
	.rule{margin:5px 0px;}
	.quote-form .form-group{margin-bottom:8px;}
}
@media(max-width:767px){
	.quote-form{position:relative; max-width:100%;right:0px; padding:20px}
	.condition-wrap h1{font-size:20px;    padding-top: 9px;}
	.header-nav{text-align:left;}
	.header-nav .navbar-nav>li{display:block;}
	.logo-wrap{text-align:center; padding-left: 15px;}
	.logo-wrap > a{border:none; padding:0px;}
	.header-nav .navbar-toggle{margin:0px;}
	.selling-text{width:100%; top:17%;}
	.notation-section{padding:25px 15px;}
	.social-wrap ul li{  margin-right: 0px;  padding: 0px;}
	.footer-wrap{padding:25px 15px 20px;}
}

@media(max-width:480px){
.condition-heading{min-height:65px;}
.condition-wrap h1{font-size:27px;}
.selling-text{width:100%; top:10%;    padding-left: 20px;}
.notation-box{padding:90px 10px 0 10px}
.selling-text dfn{display:none;}
.foot-menu ul li{display:block;}
}

/* user-page-cash -offer css*/
.userpage-content {padding: 10px 25px 19px 30px;}
.userpage-content h2{font-size:32px;color:#000;}
.userpage-content p{font-size: 17px; color: #a4a4a4;  line-height: 1.3;}
.userpage-content p  i{color:#000;}
.userpage-content  strong{color:#666;}     
    
/*user-page-questions css */
.question-answer{padding: 30px 35px 19px 30px; font-size:17px;}
.question-answer i { color:#000;;font-style:normal;}


/*user-page-sell-your-page css*/
.sell-home-section{padding: 5px 35px 40px 30px; font-size:17px;}    
.sell-home-section h2{ color:#000; font-size:32px;}
.sell-home-section ul { font-style:normal; display:inline-block; color:#000;line-height:1.9;padding: 0px 0px 9px 0px; list-style:none;}


/* user-page-testimonials css*/
.testimonails-section{padding: 5px 35px 40px 30px; font-size:17px;}
.testimonails-section h2{ color:#000; font-size:32px; margin-bottom:22px;}
.testimonail-wrap p{ padding: 16px 20px 18px 13px;}
.testimonail-wrap p:nth-child(odd) {background:#f9f9f9;}
.testimonail-wrap p:nth-child(even) {background:#fff;}   
.testimonail-wrap span{font-style:normal; display:block; color:#000;padding: 13px 0px 2px 0px;}
      

/* user-page-howit-work css*/
.form-wrap{background:#F3F3F3;position:static; margin-top:20px; max-width:inherit; }