@import 'https://fonts.googleapis.com/css?family=Pacifico';

body{
   
}
.container {margin:auto;max-width:1130px;width:100%;}
.main-div{margin:auto;max-width:1160px;width:100%;}
/* Generic Padding Helpers 
------------------------------------
*/
a{-webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;}
a:hover, a:focus{text-decoration:none;}  
.no-padding{padding:0px;}
.p-t-0 {
  padding-top: 0px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-t-5 {
  padding-top: 5px !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.padding-5 {
  padding: 5px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.padding-10 {
  padding: 10px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.padding-15 {
  padding: 15px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.padding-20 {
  padding: 20px !important;
}
.p-t-25 {
  padding-top: 25px !important;
}
.p-r-25 {
  padding-right: 25px !important;
}
.p-l-25 {
  padding-left: 25px !important;
}
.p-b-25 {
  padding-bottom: 25px !important;
}
.padding-25 {
  padding: 25px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.padding-30 {
  padding: 30px !important;
}
.p-t-35 {
  padding-top: 35px !important;
}
.p-r-35 {
  padding-right: 35px !important;
}
.p-l-35 {
  padding-left: 35px !important;
}
.p-b-35 {
  padding-bottom: 35px !important;
}
.padding-35 {
  padding: 35px !important;
}
.p-t-40 {
  padding-top: 40px !important;
}
.p-r-40 {
  padding-right: 40px !important;
}
.p-l-40 {
  padding-left: 40px !important;
}
.p-b-40 {
  padding-bottom: 40px !important;
}
.padding-40 {
  padding: 40px !important;
}
.p-t-45 {
  padding-top: 45px !important;
}
.p-r-45 {
  padding-right: 45px !important;
}
.p-l-45 {
  padding-left: 45px !important;
}
.p-b-45 {
  padding-bottom: 45px !important;
}
.padding-45 {
  padding: 45px !important;
}
.p-t-50 {
  padding-top: 50px !important;
}
.p-r-50 {
  padding-right: 50px !important;
}
.p-l-50 {
  padding-left: 50px !important;
}
.p-b-50 {
  padding-bottom: 50px !important;
}
.padding-50 {
  padding: 50px !important;
}
/* Generic Margin Helpers
------------------------------------
 */
.m-t-0 {
  margin-top: 0px !important;
}
.m-r-0 {
  margin-right: 0px !important;
}
.m-l-0 {
  margin-left: 0px;
}
.m-b-0 {
  margin-bottom: 0px;
}
.no-margin{margin:0px !important;}
.m-t-5 {
  margin-top: 5px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-5 {
  margin-left: 5px;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.margin-5{margin:5px;}
.m-t-10 {
  margin-top: 10px !important;
}
.m-r-10 {
  margin-right: 10px;
}
.m-l-10 {
  margin-left: 10px;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.margin-10{margin:10px;}
.m-t-15 {
  margin-top: 15px;
}
.m-r-15 {
  margin-right: 15px;
}
.m-l-15 {
  margin-left: 15px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.margin-15{margin:15px;}
.m-t-20 {
  margin-top: 20px;
}
.m-r-20 {
  margin-right: 20px;
}
.m-l-20 {
  margin-left: 20px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.margin-20{margin:20px;}
.m-t-25 {
  margin-top: 25px;
}
.m-r-25 {
  margin-right: 25px;
}
.m-l-25 {
  margin-left: 25px;
}
.m-b-25 {
  margin-bottom: 25px;
}
.margin-25{margin:25px;}
.m-t-30 {
  margin-top: 30px;
}
.m-r-30 {
  margin-right: 30px;
}
.m-l-30 {
  margin-left: 30px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.margin-30{margin:30px;}
.m-t-35 {
  margin-top: 35px;
}
.m-r-35 {
  margin-right: 35px;
}
.m-l-35 {
  margin-left: 35px;
}
.m-b-35 {
  margin-bottom: 35px;
}
.margin-35{margin:35px;}
.m-t-40 {
  margin-top: 40px;
}
.m-r-40 {
  margin-right: 40px;
}
.m-l-40 {
  margin-left: 40px;
}
.m-b-40 {
  margin-bottom: 40px;
}
.margin-40{margin:40px;}
.m-t-45 {
  margin-top: 45px;
}
.m-r-45 {
  margin-right: 45px;
}
.m-l-45 {
  margin-left: 45px;
}
.m-b-45 {
  margin-bottom: 45px;
}
.margin-45{margin:45px;}
.m-t-50 {
  margin-top: 50px !important;
}
.m-r-50 {
  margin-right: 50px; 
}
.m-l-50 {
  margin-left: 50px;
}
.m-b-50 {
  margin-bottom: 50px;
}
.m-l-65{margin-left:65px!important;}
.margin-50{margin:50px;}
.m-t-170{margin-top:170px;}
/*font size */
.italic{font-style:italic;}
.n-p{padding:0px;}
.p-l{padding-right:28px!important;}
a:hover{text-decoration:none;}
ul,li{padding:0px;list-style:none;}
.btn:hover{color:#fff!important;}
.main_banner{
	position:relative;
}

.header-slider{
	left: 0;
    position: absolute;
    right: 0;
    top: 0;
	padding: 5px 0 0;
	z-index: 999;
}
.header-slider.navbar-default{ background-color: transparent;}
.navbar-default {
   background-color:#494848;
    border:none;
}
.nav_menu{
	margin-top: 35px;
	float:right;
	
}
.nav_menu li{
	/* padding:0 10px 0 10px;*/
}
.navbar.navbar-default .navbar-nav > li > a{
	color:#fff;
	text-transform:uppercase;
	font-size:17px;
	font-weight:700;
}
.navbar.navbar-default .navbar-nav > li > a:hover, .navbar.navbar-default .navbar-nav > li > a:focus{background-color:transparent; color:#FF8814;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{background-color:transparent; color:#FF8814 !important;}
.header-slider.navbar.navbar-default .navbar-nav > li > a{color:#494848;}
.login_btn{
	background:#FF8814;
	border: medium none;
    color: #fff;
    font-weight: 500;
    margin-top: 3px;
    padding: 7px 24px;
    text-transform: uppercase;
	font-size:17px;
}
.login_btn:hover{
	background:#FF8814;
	  color: #fff!important;
}
.content_wrap{
	position:absolute;
	top: 20%;
	left:0;
	right:0;
}
.content_wrap h1{
	font-size:46px;
	color:#fff;
	text-transform:uppercase;
	word-spacing:-10px;
}
.content_wrap span{
	display:block;
	font-size:45px;
	color:#fff;
	font-family: 'Pacifico', cursive;
	
}
.features_btn{
	 padding: 8px 13px;
	 margin-top: 17px;
}
.referral_box{
	max-width:370px;
	width:100%;
	background:rgba(255,255,255,0.6);
	padding: 15px 15px 15px 15px;
}
.referral_box span{
	color: #ff0d0d;
    font-family: "Pacifico",cursive;
    font-size: 28px;
    padding-bottom: 6px;
    text-align: center;
    text-transform: capitalize;
}
.referral_box p{
	font-size:21px;
	color:#000;
	text-align:center;
	padding: 4px 0;
	line-height:23px;
}
.form-group label{
	color:#000;
	font-weight: normal;
	font-size:18px;
}
.form-control{
	border-radius:0px;
	height: 38px;
}
.btn-submit{
	margin-top: 8px;
	width: 100%;
	max-width:100%;
	border-radius:0px;
	padding: 5px 0;
	text-transform: capitalize;
}
.newsletter_section{
	/* border-bottom:6px solid #FF8814; */
	padding-top:60px;
}
.arrow-img{
	position:relative;
}
.arrow-img i{
	position:absolute;
	top: 77.5%;
	left: 18px;
	background:url("../images/arrow_img.png")no-repeat;
	width:334px;
	height:53px;
}
iframe {
    }
.newsletter_wrap  h2{
	font-size:39px;
	text-align:center;
	margin:0px;
	text-transform:uppercase;
	color:#6a6c6d;
}
.newsletter_wrap span{
	position: relative;
    text-transform: capitalize;
    top: 9px;
	
}
.newsletter_wrap p{
	font-size:16px;
	color:#000;
	line-height:21px;
	font-style:italic;
	margin-bottom:0px;
	
	}
.author_name{
	font-size:16px!important;
	color:#000 !important;
	display:inline-block;
	}
.auth-img {
       float: right;
    margin-top: -15px;
}
.easystep_section{
	/* border-top:8px solid #F3F3F3;
	padding-bottom: 123px; */
	
}
.easystep_section h2{
	text-transform:uppercase;
	    color: #3e3e3e;
	font-size:36px;
	font-weight: bold;
}
.easystep_section h3{
	color:#FF8814;
	font-size:27px;
	font-weight:700;
}
.easystep_section p{
	font-size:18px;
	color:#b8b1b1;
	padding: 7px 15px 0;
	line-height: 23px;
}
.edit_section{
background: #43aee6; /* Old browsers */
background: -moz-linear-gradient(left,  #43aee6 0%, #8ad3f3 43%, #8ad3f3 61%, #3eabe3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #43aee6 0%,#8ad3f3 43%,#8ad3f3 61%,#3eabe3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #43aee6 0%,#8ad3f3 43%,#8ad3f3 61%,#3eabe3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43aee6', endColorstr='#3eabe3',GradientType=1 ); /* IE6-9 */
   min-height:457px;
   margin-top:60px;
   position:relative;
 }
 .newsletters > img {
    padding-top: 66px;
	width:95%;
}
.promo_wrap{
	  position:relative;
}
.promption_img{
	left: -19%;
    position: absolute;
    top: -58px;
}
.edit_content {
    padding-top:19px;
}
.edit_content h3{
	color: #fff;
    font-size: 31px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: arial black;
    margin: 0 0 10px 0px;
	
}
.edit_content p{
	color: #fff;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px;
}
.mailed_newsletter{
	background:#F4F4F4;
	padding: 30px 50px;
	margin-top:30px;
}
.mailed_newsletter h2{
	font-size:30px;
	text-align:center;
	margin:0px;
	text-transform:uppercase;
	color:#6a6c6d;
}
.mailed_newsletter p {
    font-size: 18px!important;
	color:#85898b;
	padding: 21px 0px 0px 0px;
}
.mailed_newsletter  p span{
	color:#FF8814;
}
.panel-heading {
	padding:0px;
	border: 1px solid #ddd!important;
}
.panel-group .panel + .panel {
    margin-top: 22px;
}
.panel-title {
	/*display:inline-block;*/
}
.accordion_arrow {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #BABBBD;
    border-color: #ccc -moz-use-text-color #ccc #ccc;
    border-image: none;
    border-radius: 3px 0 0 3px;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    display: block;
    float: left !important;
    padding: 8px 17px 5px;
}
.writer_name{
	color:#FF8814;
	padding: 0px 11px 0 0;
	font-size:14px;
}
.panel-faq .panel-heading .panel-title span {
        font-size: 20px;
    font-weight: normal;
    color: #fff;
     border: 0;
    border-radius: 0;
    padding: 8px 14px;
	position:absolute;top:0px; left:0px;
	min-height:100%;
}
.panel-faq .panel-title{padding: 9px 0px  9px 50px;
    display: block;min-height:37px;
    background: #fff;font-size:16px;position:relative;}
.panel-body{
	background:#F4F4F4;
	border:none!important;
	padding: 15px 15px 0;
}
.active-faq {
    border-left:0px;
}
.panel-heading.active-faq  .panel-title{color:#47baf6;}
.panel-heading.active-faq  .panel-title span{color:#fff;background-color:#47baf6}

.panel-body > ul {
    padding: 7px;
	margin:0px;
}
.panel-body li {
    color: #85898b;
    font-size: 17px;
}
.faq-cat-content {
    margin-top: 25px;
}
.faq-cat-tabs li a {
    padding: 15px 10px 15px 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #777777;
}

.nav-tabs li a:focus,
.panel-heading a:focus {
    outline: none;
}

.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus {
    text-decoration: none;
    color: #777777;
}
.faq-cat-content .panel-heading:hover {
    background-color: #efefef;
}
.active-faq {
    border-left: 5px solid #888888;
}
.panel-default {
    border-color:#F4F4F4;
}
.panel {
   border: none;
    border-radius: 0px;
    box-shadow:none;
    margin-bottom: 20px;
}
.customer_satisfaction{
	background:#48BAF6;
	color:#fff;
	padding:0px 50px 0px;
	position:relative;
	margin-top:105px;
}
.gurantee_box {
    border-bottom: 1px solid rgba(178, 237, 252, 0.61);
    padding-bottom: 11px;
}
.gurantee_box h3{ 
    font-size:25px;
	font-weight:700;
	padding:0px 0 0;
	text-transform:uppercase;
}
.customer_satisfaction  p{ 
   font-size:14px;
   color:#dcf1fc;
   font-weight:lighter;
   padding-top: 0px;
   line-height:22px;margin:0px;}
   
.gurantee_rules h4{
	font-size:16px;
	font-weight:700;
	margin-bottom:10px;
	text-transform:uppercase;
	margin-top:20px;
	padding-left:20px;
	background:url('../images/four-arrow.png')no-repeat left 3px;
}
.get_ready h2{
	font-size:40px;
	text-transform:uppercase;
	text-align:center;
	margin-bottom: 20px;
    padding: 0px 0 0;
	position:relative;
}
.ready_btn{
	background: #ff8814;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    max-width: 360px;
    padding: 12px 0;
     text-align: center;
    text-transform: uppercase;
    width: 100%;
	outline:none;
	margin-bottom:-28px;
}
.ready_btn:hover, .ready_btn:focus{color:#fff;}
.footer_links{
	background:#2A2B2F;
	padding: 65px 0 27px;
}
.main_list{
	list-style:none;
}
.main_list li{
	color:#fff;
	font-size:18px;
	display:inline-block;
	width:19%;
	text-transform:uppercase;
	float:left;
	margin-right:1%;
	line-height:22px;

}
.main_list li:last-child{margin-right:0px;}
.sub_menu{margin-top:15px;}
.sub_menu li{
	display:block;
	margin-top: 2px;
	float:none;
	width:100%;
	margin:0px;
}

.sub_menu li a{
	font-size:17px;
	color:#555557;
	text-transform:capitalize;
}
.social_links{
	background:#313035;
	padding: 20px 0;
}
.social_links ul li  a {
    border-radius: 100%;
   padding: 7px 8px;
}
.social_links ul li  a  i{
	color:#fff;
}
.utube{
	background:#C5352D;
}
.linkedin{
	background:#067AB5;
}
.fb{
	background:#405CA5;
	padding: 7px 10px!important;
}
.twit {
    background:#5790D3;
}
.google{
	background:#D64C3F;
}
.insta{
	background:#713F38;
}
.copyright{
	background:#2A2B2F;
	padding:20px 0px;
}

.copyright span{
	font-size:20px;
	color:#9a9a9a;
}

	.panel-body > span {
	color: #000;
    font-size: 19px;
}
.panel-body  h5{
	color: #000;
    font-size: 19px;
}
.panel-body p{
	color: #85898b;
    font-size: 19px;
	margin:0px;
	padding:7px 0px 0px 0px;
}
.faq-cat-content .panel-collapse{border:1px solid ; border-color: transparent #ddd #ddd #ddd;}
.main-content{padding-top:110px;}
.login-btn a{background: #FF8814; border-radius:4px;color:#fff !important;}
li.login-btn a:hover{background: #ff8004 !important;}
.navbar-nav > li > a{padding-top:10px !important; padding-bottom:10px; padding:10px 19px;}
.nav_menu li:last-child{padding-right:0px;}
.text-red{color:#ff3636;}
.navbar{min-height:106px; border-radius:0px;margin:0px;}
/*try it free page*/
.top-header{background:#47baf6; padding:30px 0px}
.top-content{text-align:center; font-size:50px; font-family:Calibri;
 color:#fff; font-weight:bold;}
 .top-content h1 {text-align: center; font-size: 50px; font-family: Calibri; color: #fff; font-weight: bold; margin:0px;}
.content-line-2{text-align:center; padding:0 0 11px 0; font-size:33px; font-family:Calibri; color:#fff; font-weight:bold;}
.date-img{text-align:center; margin-top:50px; margin-bottom:10px;}
.table-h{text-align:center; padding:40px 0 0 0; font-size:44px; font-family:Calibri; color:#d00000; font-weight:bold;}
table.newsletter{font-family: Calibri; border-collapse: collapse; width: 100%; margin-top:25px;}
.small-h-font{text-transform:uppercase; font-size:20px; font-family:Calibri; color:#fff;}
table.newsletter td {  text-align: left; padding: 19px; font-size:22px; color:#6a6c6d;}
.small-font {font-size:17px; font-family:calibri; color:#b8b1b1;}
table.newsletter tr:nth-child(odd) {background-color: #f4f4f4;}
table.newsletter tr:nth-child(even) {background-color: #fff;}
table.newsletter th{background-color:#47baf6;   text-align:left; padding:20px; color:#fff; font-size:25px;}
.signup-price-h{text-align:center; font-family:Pacifico; font-size:45px; color:#ff0d0d; margin-top:20px; margin-bottom:20px;}
.small-h{font-size:21px; font-family:Calibri; color:#6a6c6d; font-weight:bold; margin:0 0 -11px -75px;}
.small-yr{font-size:21px; font-family:Calibri; color:#6a6c6d; font-weight:bold; margin:-7px 0 0 -16px;}
.small-mo{font-size:21px; font-family:Calibri; color:#6a6c6d; font-weight:bold; margin:0px 0 0 -20px;}
.inline{display:block; position:relative;    max-width: 225px;    margin: auto;}
.price-l-1{display:inline-block; text-align:center; margin:0 0 0 145px;}
.price-l-2{display:inline-block; text-align:center;}
.prices-img{position: absolute;right:-7px; bottom: 1px;}
.price-1{ font-family:Calibri; font-size:67; color:#6a6c6d; margin-top:2px; font-weight:bold;}
.m-t-27s{margin-top:-27.8px;}
.sign-up-b{ background:#47baf6; margin:15px 0 0 0px; font-size:19px; font-family:Calibri; font-weight:bold; padding:9px 50px 9px 50px; color:#fff; border:none; border-radius:3px;}
.sign-up-b:hover{ background:#259bd9;}
.mid-content{background:#f4f4f4; margin-top:60px; padding:0px 30px 30px;}
.heading-1{font-family:Calibri; font-size:20px; color:#ff8814; margin-top:25px; text-transform:uppercase; position:relative; padding-left:25px;}
.box-1-content{font-family:calibri; font-size:19px; color:#b6babc; margin:-5px 0 0 25px;}
.content-1-box-icon{ background:url('../images/6.png') no-repeat; display:inline-block; margin-right:13px; width:12px;  height:12px; position:absolute; left:0px; top:5px;}
.content-1-box-2{float:left;  width:510px; margin:20px 0 0 49px;}
.lower-box{float:left;}
.content-1-box-3{  width:522px; height:120px; }
.click-button{color:#47baf6; font-family:calibri; font-size:19px; text-decoration:underline;}
.fees{margin-top:50px;}
.industries{font-size:40px; font-family:Calibri; width:100%;max-width:755px; margin:auto; color:#6a6c6d;  text-align:center; font-weight:lighter;}
.highlight-cont{font-size:40px; font-family:pacifico; color:#47baf6;}
.bold-cont{font-size:40px; font-family:Calibri; margin:auto; width:755px; color:#6a6c6d; text-align:center; font-weight:bold;}
.second-line{font-size:38px; font-family:Calibri; margin:auto;  color:#6a6c6d; text-align:center; font-weight:bold; margin:20px 0 0 0;}
.hori-line{max-width:740px;width:100%; margin-top:15px;}
.table-2-h{color:#6a6c6d; font-family:calibri; font-size:22px; font-weight:lighter; text-align:center;}
.fees-table{ margin:20px auto; border-collapse: collapse; width:390px; color:#6a6c6d;}
.fees-table td {text-align: left; padding: 4px; font-size:22px; color:#6a6c6d; font-family:calibri; font-weight:lighter;}
.fees-table th {text-align: left; padding: 4px; font-size:30px; color:#6a6c6d; font-family:calibri; font-weight:bold;width:35px;}
.check-icon{background:url(images/20.png) no-repeat; margin-right:13px; width:18px;  height:14px;}
.bonus{font-size:50px; font-family:pacifico; color:#ff0d0d; text-align:center;}
.orange-content{font-size:27px; font-family:Calibri; margin:auto; text-align:center; color:#ff8814; font-weight:bold; text-transform:uppercase;}
.box-1{float:left; margin-right:54px; width:30%;  margin-top:20px;}
.box-1.last{margin-right:0px;}
.handwritten{text-align:center;}
.handwritten-h{font-size:30px; font-family:Pacifico; text-align:center; color:#ff0d0d; margin:20px 0px; }
.customer-data{background:#f4f4f4; margin-top:60px; padding:30px;}
.customer-h{font-size:40px; font-family:Calibri; text-align:center; margin: 0px 0px 40px 116px; color:#6a6c6d;  text-align:center; font-weight:lighter;display:inline-block;}
.map-img{width:56%; float:left;}
.customer-data-icon{ background:url('../images/21.png') no-repeat; position:absolute; left:0px; top:7px; display:inline-block; margin-right:13px; width:12px;  height:12px;}
.point-1{font-family:Calibri; position:relative; padding-left:30px; font-size:19px; color:#b6babc; font-weight:500; margin:0px 0 30px;}
.highlight-cont-2{font-size:19px; font-family:calibri; color:#ff8814;}
.highlight-cont-3{font-size:19px; font-family:calibri; color:#ff8814; text-decoration:underline;}
.last-content{margin-top:10px;}
.navi-1-h{font-family:calibri; font-size:19px; color:#fff; padding:50px 0 0 0; text-transform:uppercase;}
.bottom-navi{margin:0 0 0 0; padding:0 0 0 0;} 
.bottom-navi ul{margin:0 0 0 0; padding:5px 0 0 0; float:left;}
.bottom-navi ul li{display:inline block; list-style:none; margin:0 0 0 0; padding:7px 0 0 0;}
.bottom-navi ul li a{text-decoration:none; font-family:calibri; font-size:17px;  color:#555557; line-height:2px;}
.bottom-navi ul li a:hover{color:#959595;}
.social-icon{background:#303033;  text-align:center; padding:20px 0;}
.copyright{background:#2a2b2e;}
.left-line{float:left; font-family:calibri; color:#9e9e9e; font-size:20px;  padding:20px 0 20px 0; }
.right-line{float:right; font-family:calibri; color:#9e9e9e; font-size:20px;  padding:20px 0 20px 0; }
.bonus-h{font-size:30px; margin-top:-82px; font-family:Pacifico; text-align:left; color:#ff0d0d; float:left; }
.down-arrow{float:left; margin-top:-60px; margin-left:83px;}

@media (max-width: 767px){
table.newsletter th, table.newsletter td {font-size: 14px;}
.small-h-font {font-size: 12px;}
.top-content h1, .signup-price-h, .customer-h{font-size:33px;}
.content-line-2, .orange-content{font-size:20px;}
.table-h, .industries, .highlight-cont, .second-line{font-size:25px;}
.price-1{font-size:45px;}
.prices-img{right:-10px;}
.points:first-child{margin-top:30px;}
.customer_satisfaction{padding:50px 20px 0px;}
.mailed_newsletter{padding:20px 0px;}

}
@media (max-width: 380px){
.col-md-3.col-sm-4.col-xs-6{width:100%; margin-bottom:30px}
.small-mo, .small-yr{margin-right:-8px}
}

/* newly added how it work page css */
.subscribe-wrap{
	max-width:85.33%;
	width:100%;
}
.sub-content span{
	text-align:center!important;
	display:block;
	margin-bottom: 0px!important;
}
.subscribe-login span{
	font-size:18px;
	font-weight:400;
	display:block;
	line-height:1.4;
	color:#6c6e6d;
}
.subscribe-login{
	text-align:center;
}
.theme-lib{
	font-size:17px;
	color:#6c6e6d;
	text-align:center;
	width: 85%;
	
}
.industries > strong {
	font-size:35px;
}
.bg-color{
	background: #f4f4f4;
    border: 1px solid #f4f4f4;
}
.subscribe-btn{
	border-radius: 4px;
    font-weight: 900;
    left: 72px;
    margin-top: 8px;
    max-width: 45%;
    padding: 8px 0;
    position: relative;
	border:1px solid #ff8814;
}
.custom-list {
    text-align: center;
}
.custom-list span{display:block;}
.custom-cont {
    display: block;
    font-size: 33px;
    font-weight: 900;
    text-transform: uppercase;
    width:100%;
	line-height: 1.4;
}
.custom-list ,.challenges  p{
	color:#bbbdbc;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
	margin: 25px 0 40px;
  
}
.font-weight-400{font-weight:400!important;}
.m-t-75{margin-top:76px !important;}
.custom-opt {
    text-align: center;
}
.challenges{
	text-align:center;
}
.arrow-pos{
	position:relative;
}
.down-arrow1 {
	background: rgba(0, 0, 0, 0) url("../images/25.png") no-repeat scroll 0 0;
    height: 70px;
    position: absolute;
    right: -6px;
    top: 73px;
    width: 70px;
	
}