@import url(https://fonts.googleapis.com/css?family=Pacifico);
body{ /*font-family: 'Calibri';*/ color: #868686;}
/* Generic Padding Helpers 
------------------------------------
*/
a{-webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;}
a:hover, a:focus{text-decoration:none;}  

.m-t-170{margin-top:170px;}
/*font size */
.fs-10{font-size:10px;}
.fs-11{font-size:11px;}
.fs-12{font-size:12px;}
.fs-13{font-size:13px;}
.fs-14{font-size:14px;}
.fs-15{font-size:15px !important;}
.fs-16{font-size:16px;}
.fs-17{font-size:17px;}
.fs-18{font-size:18px !important;}
.fs-20{font-size:20px !important;}
.fs-22{font-size:22px !important;}
.fs-24{font-size:24px !important;}
.fs-28{font-size:28px;}
.fs-30{font-size:30px !important;}
.fs-33{font-size:30px !important;}
.fs-35{font-size:35px;}
.fs-40{font-size:40px;}
.fs-50{font-size:50px;}
.text-9a{color:#9A9A9A !important;}
.text-2a{color: #2a2a2a !important;}
.bold{font-weight:bold;}
img{max-width:100%;}
/*header css*/
.header-logo{margin: 30px 0px 20px;display: inline-block; width:100%;}
.border-l-r{border:1px solid; border-color:transparent #F1F1F1 transparent #F1F1F1}
.border-t{border-top:1px solid #f1f1f1;}

#diamond {
  display:inline-block;width:32px; height:32px;
  
}
.icons-rotate{
      background: #F7F7F7;
    width: 32px;
    height: 32px;
      display: inline-block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    writing-mode: lr-tb;
    border: 1px solid;
    border-color: transparent #DEDDDD #DEDDDD transparent;
    color: #44D58F;
    text-align: center;
    /* line-height: 26px; */
    font-weight: bold;
    font-size: 15px;
      padding-top: 4px;
    padding-left: 2px;
  border-radius:2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
}
.icons-rotate i{-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.text-light-gray{color:#BABABA;}
.social-top-header a i{color:#BABABA;}
.social-top-header a:hover i{color: #44D58F;}
.header-nav {text-align:right;margin-bottom: 7px;}
.header-nav .navbar-nav{float:none;}
.header-nav .navbar-nav>li{float:none;display:inline-block; margin:0px 6px;}
.header-nav .nav>li>a{color:#BABABA; font-size:19px;}
.header-nav .nav>li>a:focus, .header-nav .nav>li>a:hover, .header-nav .nav>li.active>a{background-color:transparent; color:#44D58F;}
.header-nav  .navbar-toggle{border: 1px solid #44D58F;}
.header-nav .navbar-toggle .icon-bar{background-color: #44D58F}
.home-topbg{background:url(../images/sliders.jpg) no-repeat 0 -52px/cover;width:100%; padding:5% 0px 12% ; position:relative;color:#fff;}
.home-topbg h2{font-family: 'Pacifico', cursive;font-size: 49px;}
.home-topbg .topoverlay{background:rgba(0,0,0,0.15);position:absolute; top:0px;right:0px; left:0px; bottom:0px; height:100%; width:100%;z-index:9;}
.home-topbg .container{z-index:99;position:relative}
.home-topbg .get-risk{background-color:#44D58F; border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;font-size:22px; text-transform:uppercase;color:#fff; padding:10px 60px 10px 20px; display:inline-block;position:relative; font-weight:600;}
.home-topbg .get-risk i{position:absolute;right:10px;top: 28%;}
.white-bgtrans{/*border-radius:5px;-ms-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background-color:rgba(255,255,255,0.3); padding:5px; */display: inline-block; margin-top:20px;}
.green-heading h3{color:#FF8814; font-size:35px; margin:0px 0 20px 0px; display:inline-block; text-transform:uppercase; font-weight:600; border-bottom:1px solid #979998; padding:0px 0px 15px 0px;}
.green-heading p{font-size:20px;}
.green-heading .icon-cross-headiing{margin: -20px auto auto;width: 21px;
    display: block; position: relative;  top: 24px;  background: #fff;font-size: 20px; }
.green-bg{background-color:#FF8814;padding:30px 0px 20px; margin-bottom:50px;}
.white-heading h3{color:#fff; font-size:35px; margin:0px 0 20px 0px; display:inline-block; text-transform:uppercase; font-weight:600; border-bottom:1px solid #ffffff; padding:0px 0px 15px 0px;}
.white-heading .icon-white-headiing{margin: -20px auto auto;width: 21px;
    display: block; position: relative;  top: 24px;  background: #FF8814;font-size: 20px; }
.drop-icon{width:80px; margin:auto;position:relative;}
.green-bg .drop-icon:after{width: 0; 
   height: 0;
   border-top: 48px solid #FF8814;
   border-left: 40px solid transparent; 
   border-right: 40px solid transparent;
content:'';  position:absolute; }
.payshow{}
.pay-out{width:170px; height:170px;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%; background: #1db6f2;margin:-150px auto auto; text-align:center;padding-top: 35px;margin-bottom: 12px;}
.pay-out p{font-size:25px; color:#fff; margin:0px;} 
.pay-out h3{font-size:45px; color:#fff; font-weight:bold;margin:0px;} 
ul.per-month{padding:15px;}
ul.per-month li{font-size:20px; text-align:center; list-style:none; border-bottom:1px solid #F1F1F1; padding:10px 0px;}
.panel-footer{background-color:#1db6f2;text-align:center; color:#fff; font-size:20px; font-weight:600; text-transform:uppercase;padding:0px;
-webkit-transition: all .5s;-moz-transition: all .5s;-ms-transition: all .5s;-o-transition: all .5s; transition: all .5s;} 
.panel-footer:hover{background-color: #078dc1;}
.our-process .rotate-box{
      background: url(../images/our-process.png) no-repeat;
    width: 150px;
    height: 153px;
      display: inline-block;
    padding-top:50px;
   
}
.video-img{
	border:2px solid #ccc;g584
	
}
.m-b-30{
	margin-bottom:30px!important;
}
.download-btn{
	max-width: 250px;
    width: 100%;
    background: #ff8814;
    color: #fff;
    border: transparent;
    text-transform: uppercase;
    padding:7px 15px;
	border-radius: 3px;
	font-size:17px;
	font-weight:600;

}
.our-process .rotate-box img{
}
.our-process  h4{color:#333;font-size:20px; margin-top:5px; font-weight:600;}
.our-process .rotate-box:before{content:'';  position:absolute; height:1px; width:40%; top:78px;-webkit-transform: translate(0%, -39%);
   -moz-transform: translate(0%, -39); 
   -ms-transform: translate(0, -39); 
   -o-transform: translate(0%, -39); 
   transform: translate(0, -39);
   left:50%;z-index:-1;}   
.second-box-dotted.rotate-box:before{width: 81% !important; left: 10% !important;}
.third-box-dotted.rotate-box:before{width: 40% !important; left: 10% !important;}
.our-process .rotate-box:after{content:'';  position:absolute; height:22px; width:12px; top:76px;-webkit-transform: translate(0%, -39%);
   -moz-transform: translate(0%, -39); 
   -ms-transform: translate(0, -39); 
   -o-transform: translate(0%, -39); 
   transform: translate(0, -39);
   right:8%;z-index:-1;} 
 .our-process .rotate-box.last:after{ display: none;}
.our-process p{font-size: 16px;text-align: left;}
#quote-carousel {padding: 0 10px 30px 10px; margin-top: 30px;}

#quote-carousel .carousel-control{background: none;color: #fff;font-size: 2.3em;
text-shadow: none;margin-top: 30px;-webkit-transform: translate(0%, -39%);
   -moz-transform: translate(0%, -39); 
   -ms-transform: translate(0, -39); 
   -o-transform: translate(0%, -39); 
   transform: translate(0, -39); top:50%;}

#quote-carousel .carousel-control.left {left: -12px;}
#quote-carousel .carousel-control.right {right: -12px !important;}
#quote-carousel .carousel-indicators {right: 50%;top: auto; bottom: 0px; margin-right: -19px;}
#quote-carousel .carousel-indicators li {background: transparent; -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);
    writing-mode: lr-tb; width:15px; height:15px;border-radius: 0;-webkit-border-radius: 0;-moz-border-radius: 0; margin:0px 10px 0px 0px;}
#quote-carousel .carousel-indicators .active {background: #44D58F;border:1px solid #44D58F }
.item blockquote {border-left: none;  margin: 0; padding:20px;font-size:24px;}
.item blockquote .min-hegt-140{min-height:200px;}
.item blockquote p{color:#fff; font-size:22px; font-weight:normal; text-align:center; line-height:28px; }
.item blockquote small{font-size:100%; text-align:center; color:#44D58F;}
.item blockquote small:before{display:none;}
.testimonial{background:url(../images/testimonials-bg.png) no-repeat 0 0/cover; padding:3% 0px; position:relative; margin-top:40px;}
.testimonial .container{z-index:10;position:relative;}
.testimonial .overlay-test{position:absolute; top:0px; left:0px; width:100%; height:100%;background:rgba(0,0,0,.2);}
.reponsive-contain h1{color:#44D58F; text-align:center; font-size:50px; font-weight:500; text-transform:uppercase;}
.reponsive-contain p{font-size: 20px; text-align:center;}
#footer{background-color:#2A2B2E; margin-top:50px; padding:0px 0px 0px;}
.top-footer{border-bottom:1px solid #38393C; padding:0px; margin-bottom:20px;}
.b-r{border-right:1px #38393C solid;} 
.b-l{border-left:1px #38393C solid;}
#footer .icons-rotate{background-color:#303033; color: #f1f1f1; border-color: transparent #0B0C0C #0B0C0C transparent;}
#footer  .top-footer .social-top-footer a{color: #f1f1f1; font-size: 20px; margin: 20px 0px 20px 0px;  float:left; width:33%;   display: inline-block;}
#footer  .top-footer .social-top-footer {}
.footer-links{padding:0px; margin:0px;}
.footer-links li{display:block; list-style:none;}
.footer-links li a{color:#555557;font-size:18px; }
.footer-links li a:hover{color:#f9f9f9; }
#footer h3{color: #f1f1f1; font-size: 24px;    text-transform: uppercase;}
ul.footer-contact{padding:0px; margin:0px;}
ul.footer-contact li{display:block;padding-left:30px; list-style:none;color:#555557;font-size:18px;position:relative; margin-bottom:5px;}
ul.footer-contact li i{ font-size:20px; position:absolute; top:4px; left:2px; }
.footer-bottom{background-color:#303033; padding:30px 0px; margin-top:30px;}
.footer-bottom  p{color:#9E9E9E;font-size:20px;margin:0px;}
.copyright{text-align:right;}
.all-pagesbg{background:url(../images/header-bg-1.png) no-repeat 0 0/cover; padding:30px 0px;position:relative;}
.all-pagesbg h1{font-family: 'Pacifico', cursive; font-size: 49px;color:#fff; text-align:center;position:relative;z-index:15;}
.all-pagesbg .pagesoverlay {background: rgba(0,0,0,0.1);position: absolute; top: 0px;
    right: 0px; left: 0px; bottom: 0px; height: 100%;  width: 100%; z-index: 9;}
.view-demo-theme{max-height:460px;position:relative;overflow:hidden;}
.captionoverlay {background:#58595B;position:absolute;left:0px;bottom:0px;height:65px;width: 100%;z-index:9;padding: 13px 25px;}
.gowib-btn{background-color:#44D58F;background-color: #44D58F;color: #fff;
    padding: 7px 15px;border-radius: 6px;font-size: 17px; border:none;}
.gowib-btn:hover, .gowib-btn:focus{color: #fff !important;}
.panel-default>.panel-heading{background-color:#E1E1E1;}
.bg-light-form{background-color:#f9f9f9;padding:30px 30px 15px 30px;border:1px solid #EFEFEF;}
.font-normal{font-weight:normal !important;}
.min-height300{min-height:300px;}
header{border:1px solid #EFEFEF;}
.form-horizontal .bg-light-form .control-label{color:#484848;font-size:17px;font-weight:500; text-align:left;    word-wrap: break-word;}
.form-horizontal .bg-light-form .form-control{border:1px solid #E7E7E7;border-radius:2px;}
.form-horizontal .bg-light-form .form-control:focus{border:1px solid #ccc;box-shadow:none;}
.form-horizontal .bg-light-form .form-group{margin-bottom:10px;}
.f-weight-6{font-weight:600;}
.www-label{color:#484848;font-size:20px;font-weight:500; text-align:left;}  
.www-label.text-right{text-align:right;}
.bg-black{background-color:#2A2B2E;}
.checkout-table{width:100%;}
.checkout-table tr th{color:#BDBDBE;padding:8px 15px 8px 25px; font-size:20px; font-weight:normal;}
.checkout-table tr th:first-child{border-right:1px solid #626262; width:65%;}
.checkout-table.visitor-table tr th:first-child{border-right:1px solid #626262; width:auto;}
.checkout-table tr td{color:#A2A2A2;padding:10px 15px 10px 25px; font-size:18px; font-weight:normal;    word-break: break-word;}
.checkout-table tr.bor-all td {border:1px solid #ddd;}
.checkout-table tr.bor-all.green-bg {background-color:#44D58F;}
.checkout-table tr.bor-all.green-bg  td{color:#fff; border-top:transparent; border-bottom:transparent;}
.checkout-table tr td a{color:#A2A2A2; padding-right:15px;}
.checkout-table tr.bor-all td:first-child{border-right-color: transparent;}
.domain-regist{background-color:#44D58F;display:inline-block; padding:8px 25px 10px;font-size:25px; color:#fff;}
.bg-light-payment{border:1px solid #EFEFEF;background-color:#f9f9f9;padding:10px 40px 10px 40px; }
.gowib-btn-all{background-color:#44D58F;color: #fff !important;outline:none;  padding: 7px 15px;border-radius: 6px;font-size: 17px; border:none; text-transform:uppercase;-webkit-transition: all .5s;-moz-transition: all .5s;-ms-transition: all .5s; -o-transition: all .5s;
  transition: all .5s;}
.checkout-table.visitor-table td textarea{max-width:200px;min-width:200px;max-height:90px;}
.gowib-btn-all:hover{background-color:#2BAB6D;}

.gowib-btn-black{background-color:#2a2a2a;color: #fff;outline:none;-webkit-transition: all .5s;-moz-transition: all .5s;-ms-transition: all .5s; -o-transition: all .5s;
  transition: all .5s;padding: 7px 25px;border-radius: 3px;font-size: 17px; border:none}
.gowib-btn-black:hover{background-color:#000;}
.domain-reg h3{color:#2a2a2a;font-size:18px; margin-top:0px;}
.domain-reg .form-horizontal .control-label {color: #B6B6B6;font-size: 17px; font-weight: 500;text-align: left;}
.domain-payment .control-label{padding-top:7px;margin-bottom:0px;}
.form-control {border: 1px solid #E7E7E7; border-radius: 2px;}
.form-control:focus { border: 1px solid #ccc; box-shadow: none;}
.check-style label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 17px;
      color: #B6B6B6;   padding-left: 25px;
    position: relative;
  
  line-height:23px;
}
.check-style input[type=radio], .check-style input[type=checkbox] {
    display:none;
}
.check-style input[type=radio] + label:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 8px;
    background-color: #F9F9F9;
    border: 1px solid #ccc;
    border-radius: 50%;
   margin-top: 2px;
   position:absolute;
   left:0px;  
}
.check-style input[type=checkbox] + label:before {
    content: "";  
    display: inline-block;  
    width: 18px;  
    height: 18px;  
    vertical-align:middle;
    margin-right: 4px;  
    background-color: #F9F9F9;  
    border:1px solid #ccc;
    border-radius: 2px;  
   margin-top: 2px;
   position:absolute;
   left:0px;
}

.text-black {color:#000 !important;}
div.parsley  {margin-top:10px;}
.check-style input[type=radio]:checked + label:before {
    content: "\2022"; /* Bullet */
  color: #44D58F;
    font-size: 2.5em;
    text-align: center;
    line-height: 18px;
    text-shadow: 0px 0px 3px #eee;
}
.check-style input[type=checkbox]:checked + label:before {
    content: "\f00c"; /* Tick */
    color:#44D58F;
     text-align:center;
    line-height:18px;
    text-shadow:0px 0px 3px #eee;
  font-family: 'FontAwesome';
  font-size:13px;
}
.print-list li{
font-size: 20px;
display: list-item!important; 
list-style: initial!important;
}
.print-list{margin-left: 19px !important;}

.cancel-btn{background: #44D58F;;padding: 10px 10px;color:#fff; font-weight:700;position: relative;top: 28px;border-radius: 6px;font-size: 15px;}
.cancel-btn:hover, .cancel-btn:focus{color:#fff;}
.remove-logo {color:red;font-size: 17px;}
.remove-logo:hover, .remove-logo:focus{color:red;}
.bg-light-box{padding:16px 30px 15px 30px;}

 /* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel  {margin-bottom: 0; padding: 0 40px 30px 40px; }

}
@media (max-width: 1200px) {
  .captionoverlay{    padding: 13px 10px;}
}
@media (max-width: 991px) {
#footer .top-footer .social-top-footer a{ display:inline-block; margin-bottom:20px;}
.navbar-nav>li>a, .header-nav .nav>li>a{padding:10px 4px; font-size:17px;}
.captionoverlay{    padding: 13px 7px;}
  .gowib-btn{    padding: 5px 7px;font-size:14px;}
     .checkout-table tr td, .checkout-table tr th{padding: 10px 5px 10px 5px;}
    .checkout-table tr th{font-size:18px;}
    .checkout-table tr td{font-size:16px;}
    .visitor-table tr th:last-child{white-space:nowrap;}
.text-light-gray.m-t-15.fs-18{font-size:16px !important;}
.printing-img img{margin-left:-15px !important;}
.material-img img {padding-left: 0px!important;}


}
/* Small devices (tablets, up to 768px) */
@media (max-width: 767px) { 
     #quote-carousel .carousel-indicators { bottom: -20px !important;  }
    #quote-carousel .carousel-indicators li {display: inline-block; margin: 0px 5px;
        width: 15px;  height: 15px; }
    #quote-carousel .carousel-indicators li.active { margin: 0px 5px;width: 15px;height: 15px; }
  .reponsive-contain h1{font-size:30px;}
    .our-process .rotate-box:before, .our-process .rotate-box:after{display:none;} 
.copyright{text-align:left;}  
.header-logo{display:block; text-align:center;}
.text-light-gray.text-right{text-align:center;}
.header-nav .navbar-nav>li{display:block;text-align:center;}
.bg-light-form{padding:15px;}
.min-height300{min-height:inherit;}
.green-heading h3 {font-size: 28px;}
.printing-img img{margin-left:0px !important;}
.material-img img {padding-left: 0px!important;}
.print-link{padding-right: 12px!important;}
.print-link strong{padding-right: 0px!important;font-size:18px;}


}
.modal-dialog{margin:100px auto auto;}
.modal-sm{max-width:400px; width:100%;}
.congrates-box{padding: 0px 30px 20px;}
.right-box{background: #44D58F;border-radius: 50%; padding: 23px 0px 0px 0px; width: 100px;position: relative; height: 100px;border: 4px solid #fff; margin: -50px auto auto;}
.congrates-box h2{color: #44D58F;font-size: 30px;margin:20px 0 20px 0px; display: inline-block;}
.congrates-box h3{color: #A2A2A2;font-size: 22px;margin:0px 0 15px 0px; display: inline-block;}
.congrates-box .gowib-btn-all{text-transform:capitalize;}
.congrates-box .gowib-btn-all:hover{color:#fff;}
.about-us a{font-weight: 600; color: #44d58f; text-decoration: underline;}
.visitor-btn-row .gowib-btn, td  a.gowib-btn{padding:3px 8px !important;color:#fff !important;display: inline-block;white-space: nowrap;}
td .visitor-btn-row a{color:#333 !important;font-size:16px;}
.width-30perst{width:30%;}
.home-btns{border:none; padding:10px; width:100%;background-color:transparent; font-size:22px; color:#fff;text-transform: uppercase; outline:none;}
.about-us h4{font-size:20px; font-weight:bold;}
.about-us p{margin-bottom:0px;}
.please-fill a{font-weight: 500;color: #44d58f; text-decoration: underline;}
.min-height450{min-height:400px;}
.pricing .choose-plan{
    font-size: 21px;
    list-style: none;
    padding: 12px 0px;
}
.pricing .choose-plan i{font-size:30px;color:#2a2b2e;}
.pricing .choose-plan.odd{background-color: #f4f4f4;}
.rate-set{font-size: 67px; font-weight: 600; color: #6a6c6d;}
.rate-set small{font-size:21px;}
.package-montyear a.gowib-btn-all{padding:10px 15px; position:relative;top:-10px;white-space:nowrap;}
a.gowib-btn-all:hover{color:#fff; }
.discount{color: #6a6c6d; font-size:21px;font-weight: 600; margin-bottom:-20px;}
.laptop-img{position:absolute;left:0px}
.cut-img{position:absolute;right:0px;top:100px;}
.green-bg{position:relative;}
.predesign-list{margin:90px 0 0 0px;padding:0px}
.predesign-list li{padding-left:20px; font-size:19px; color:#fff;background:url(../images/white-iconlist.png) no-repeat left center; list-style:none;margin:10px 0px;}
ul.bottom-list{padding:0px;}
ul.bottom-list li {font-size:19px;list-style:none;margin:0px 0px 30px;}
ul.bottom-list li h3{padding-left:20px; font-size:21px; color:#44D58F;background:url(../images/green-iconlist.png) no-repeat left center; list-style:none;margin:0px 0px 5px;}
.check-icon-list i{color:#222;}
.try-now i{font-size:18px; margin-left:10px;}
.yellow-arrow{position: absolute; right: -13px; bottom: 20px}
.pricing-testimonial .item blockquote p{color:#484848; text-align: left; padding-left:25px; position: relative; font-size: 17px;}
.pricing-testimonial .item blockquote p i{position: absolute; left: 0px;}
.pricing-testimonial .item blockquote p span b{color:#000; font-weight: 500; font-size: 18px}
.pricing-testimonial #quote-carousel .carousel-control{color:#333; width: 40px;margin: 0px;}
.pricing-testimonial .item blockquote .min-hegt-100{min-height: 200px;}
.pricing-testimonial #quote-carousel{padding-bottom:0px;}
.building-img{float:right; margin-left: 10px;}

/* user-page-testimonials css*/
.testimonail-wrap p{ padding: 16px 20px 18px 13px; font-size:17px;}
.testimonail-wrap p:nth-child(odd) {background:#f9f9f9;}
.testimonail-wrap p:nth-child(even) {background:#fff;}   
.testimonail-wrap span{font-style:normal; display:block; color:#000;padding: 13px 0px 2px 0px;}
.m-t-20-less{margin-top:-20px;}     
.logo-file-show{max-width:150px;}
.text-area-height{max-width:100%; min-width: 100%; min-height:120px; max-height: 120px;}
.username-small{display: inline-block;max-width: 180px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;position: relative;top: 3px;}
.dropdown-menu{left:auto; right: 15px;}
.banner-tabs .nav-tabs { border-bottom: 2px solid transparent; text-align:center; margin-top:20px; }
    .banner-tabs .nav-tabs > li.active > a, .banner-tabs .nav-tabs > li.active > a:focus, .banner-tabs .nav-tabs > li.active > a:hover { border-width: 0; }
    .banner-tabs .nav-tabs > li > a { border: none; color: #666; padding:10px 25px; font-size:20px; border-radius:3px; }
       .banner-tabs  .nav-tabs > li.active > a, .banner-tabs .nav-tabs > li > a:hover { border: none; background: transparent; }
   
 .banner-tabs .nav-tabs > li{float:none; display:inline-block;}
.banner-tabs .tab-pane { padding: 15px 0; }
.banner-tabs .tab-content{padding:20px}
.banner-tabs .nav-tabs > li > a.blue-banner{background-color:#1c4678; color:#fff;}
.banner-tabs .nav-tabs > li > a.green-banner{background-color:#abd742; color:#fff;}
.banner-tabs .nav-tabs > li > a.silver-banner{background-color:#f0f5f8; color:#333;}
.banners-div{height:200px;border: 1px solid #ddd;text-align: center;position:relative;margin-bottom:40px;} 
.banners-div figcaption{position: absolute; bottom: -25px; width: 100%; color: #000; font-size: 18px;}
.banners-div img{max-height:170px; position:absolute;top:0px; left:0px; right:0px; bottom:0px; margin:auto;}
.banner-code{background-color:#f2f2f2; padding:15px;font-size:20px;word-wrap: break-word;}
.website-section{ text-align: center;}

.website-section h3 {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color:#1db6f2;
    position: relative;
    z-index: 15;
}
.website-section a{
  text-decoration: underline;
  font-size: 28px;
  color:#6a6c6d;
}
.imp-para{
  color: #CC1310;
  font-size: 23px;
  text-align: left;
}
.query h2{font-size: 35px;color:#6a6c6d;font-family: 'Pacifico', cursive;text-align: center; }
.query h3{
  text-align: center;
}
.query p{
  font-size:20px; 
  text-align: left;
}
.query p a{ font-size:20px; color:#2da1ce;}
.direct-mail{position: relative;max-width: 350px;display: inline-block;}
.direct-mail .btn-blues{background-color: #1db6f2; text-align: center;  color: #fff; font-size: 25px; font-weight: 600; text-transform: uppercase;
    padding: 5px 30px; -webkit-transition: all .5s; -moz-transition: all .5s; -ms-transition: all .5s; -o-transition: all .5s; transition: all .5s;
    display: inline-block; border: 1px solid #0676a2; border-radius: 5px; line-height: 30px;text-decoration: none;}

    .yellow-arrow2 { position: absolute;  right: -66px;  bottom: 8px;
}
.direct-mail .btn-blues:hover{background-color: #078dc1; color: #fff;}
#scrollbox3 {overflow: auto; width: 100% !important; max-height: 600px;
    padding: 0 10px 0 0px;}
    #scrollbox2 {
    font-size: 18px;
    color: #B6B6B6;
    overflow: auto;
    width: 69% !important;
    max-height: 110px;
    text-align: left;
    position: relative;
    left: 177px;
    border: 1px solid;
    padding:7px 12px;}
    
.track3 { width: 10px; background: rgba(0, 0, 0, 0); margin-right: 2px; border-radius: 10px;
    -webkit-transition: background 250ms linear;  transition: background 250ms linear;
}
.track3:hover, .track3.dragging {background: #d9d9d9;  background: rgba(0, 0, 0, 0.15);}
.handle3 {width: 7px;right: 0; background: #999; background: rgba(0, 0, 0, 0.4); border-radius: 7px;
    -webkit-transition: width 250ms; transition: width 250ms;}
.track3:hover .handle3, .track3.dragging .handle3 {width: 8px;}
.social-buttons{float: right;}
.social-menu{text-align:center;margin-top: 30px;}
.home-social{text-align: center; margin-bottom: -14px;padding-top:25px;}
.material-img img{margin-bottom:-50px;padding-left:168px;}
.printing-img img{margin-left:-37px;}
@-moz-document url-prefix() { 
  .our-process .rotate-box::after{top:67px;}
  input[type="file"]{height:auto;}
}

@media screen and (max-width: 767px) {


    table.visitor-table thead {
      display: none;
    }

    table.visitor-table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }

    table.visitor-table td {
      display: block;
      text-align: right;
      font-size: 14px;
      border-bottom: 1px dotted #ccc;
    }

    table.visitor-table td:last-child {
      border-bottom: 0;
    }

    table.visitor-table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    color:#333;
    }
  .yellow-arrow {
    position: absolute;
    right: 15px;
    bottom: 0px;
}
.text-center.check-style{margin-left:10px;text-align:left;}
.www-label, .gowib-btn-all.fs-22{font-size:17px !important;}
.printing-img img{margin-left:-15px !important;}
.material-img img {padding-left: 0px!important;}
.cancel-btn{top:8px;}

}

  @media screen and (max-width: 530px) {

.banner-tabs .nav-tabs > li > a{font-size:13px; padding:6px 8px;}
.banner-code{font-size:17px;}
.tab-pane .row{margin-bottom:15px;}

}




  @media screen and (max-width: 480px) {
  .building-img{float:none; display: block; margin-left: 0px; margin-bottom: 15px;}
  .m-t-20-less{margin-top:20px; float:none !important; display:block;}  
  #footer .top-footer .social-top-footer a{width:50%;}
  .yellow-arrow2 img{width:60%;}
  .direct-mail{max-width: 240px;}
.direct-mail .btn-blues{font-size: 18px; padding: 5px 15px; line-height: 22px;}
.yellow-arrow2 { position: absolute;  right: -38px;   bottom: 6px;} 
.direct-mail .home-btns{font-size: 18px;}
.direct-mail .panel-footer.p-l-40.p-r-40{padding:0px 20px !important;} 
.imp-para{font-size: 20px;}
.website-section h3, .query h2{font-size: 25px;}
.navbar > .container .navbar-brand{position:relative;top:8px;}
}

.at-custom-mobile-bar.atss-top{display: none !important;}
/* crea.navbar > .container .navbar-brand {te by ravi */
#newheader nav{position:relative;}
.navbar > .container .navbar-brand{width: 285px; overflow: hidden; height:110px;} 
.arialblack{font-family:arial black !important; }
.text-blues{color:#0160ba !important;}
.text-red{color:#ff0d0d !important;}
.text-yellow{color:#fed201 !important;}
.wid-95{width:90%; margin:20px auto auto !important;    
    text-align: center; text-transform: uppercase;}
h2.wid-95{font-size: 39px;}
h3.wid-95.m-t-0{margin-top:0px !important;}
.setup-section p {color: #000; font-size: 25px; padding: 0;line-height:27px;}
.newsletter_wrap span{top:0px;}
.yellow-arrow2right{position: absolute; right: 30px;  top: -175px;}
.yellow-arrow2left{position: absolute;  left: -70px}
.m-t-14less{margin-top:-14px;}
.testimonial-home{position:relative;}
.yellow-bottom10{border-bottom:10px solid #ffcf00;}
.testimonial-home .carousel, .testimonial-home .item, .testimonial-home .item.active{
height:auto;	
}
.testimonial-home .carousel-inner{height:auto;width:90%; margin:auto;}
.testimonial-home #quote-carousel{background-color:#6c7385; margin-top:0px; padding-top:20px;}
.testimonial-home .carousel-control{width:10%;}
.testimonial-home #quote-carousel .carousel-control{margin-top:20px;}
.testimonial-home #quote-carousel .item p{color:#fff;margin:0px;}
.testimonial-home #quote-carousel .item small{color:#fff; font-size: 18px;display:inline-block;}
h3.testim-heading{font-size:40px; margin:0px;}
.bonus-section {
       border-bottom: 6px dashed #000;
		border-top: 7px dashed #000;
		text-align: center;
		margin: 17px 0;
		padding:0px 60px;
		position:relative;
		}
	.bonus-text {
			color: #ff0d0d;
			font-family: "Pacifico",cursive;
			font-size: 70px;}
		.bonus-section h2{
			color:#0160ba;
			font-size:40px;
			font-weight:900;
			text-transform: uppercase;
			margin: 0 0 15px;
		}
		.bonus-section p{
		color: #000;
		font-size: 25px;
		margin: 0;
		padding: 0;
		line-height:27px;
		
	}
		.b-para{
		font-weight:900;
		font-size: 22px;
		display:block;
		color:#000;
		}
		.bonus-section i{
		color:#ff0d0d;
		font-style:none;
		}
		.learn-link {
		display: inline-block;
		font-size: 22px;
		margin: 0 0 20px;
		text-decoration: underline;
		font-weight:900;
		color:#0160ba;
		
         }
     .learn-link:hover{
	 text-decoration: underline;
	 }
	 .gurantee-img{
	     position: absolute;
    width: 100%;
    text-align: center;
    top: -110px;
    left: 0;
	 }
	 
	 
	 .rt-red{
	  position: absolute;
      right: -12px;
      top: 36px;
	  
	 }
	 .lft-red{
	 position: absolute;
      left: -12px;
      top: 36px;
	 }
	 .gurantee_rules p{padding-left:21px;}
.iframe-border {position:relative;}
.iframe-border iframe{border:4px solid #222; border-radius:5px;}
.iframe-border:before, .iframe-border:after {
   z-index: -1;
   position: absolute;
   content: "";
   bottom: 25px;
   left: 10px;
   width: 50%;
   top: 80%;
   max-width:300px;
   background: #777;
   -webkit-box-shadow: 0 25px 20px #777;
   -moz-box-shadow: 0 25px 20px #777;
   box-shadow: 0 25px 20px #777;
   -webkit-transform: rotate(-8deg);
   -moz-transform: rotate(-8deg);
   -o-transform: rotate(-8deg);
   -ms-transform: rotate(-8deg);
   transform: rotate(-8deg);
}
.iframe-border:after {
   -webkit-transform: rotate(8deg);
   -moz-transform: rotate(8deg);
   -o-transform: rotate(8deg);
   -ms-transform: rotate(8deg);
   transform: rotate(8deg);
   right: 10px;
   left: auto;
}
.img-shows{max-width: 150px; float:left; margin-left:10px;}
@media (min-width:768px) and (max-width:991px){ 
.navbar > .container .navbar-brand{width:156px;}
}
@media(max-width:991px){
	.bonus-section h2, h2.wid-95{font-size:30px;}
	.arialblack.fs-28{font-size:22px;}
	.wid-95{width:100%;}
	.red-arrow, .yellow-arrow2right{display:none;}
	
}
@media(max-width:767px){
	
	.bonus-section h2, h2.wid-95{font-size:25px;}
	.arialblack.fs-28{font-size:18px;}
	.bonus-section{padding:0px 0px;}
	.bonus-section .row{margin:0px 0px;}
	.testimonial-home #quote-carousel .carousel-control{display:none;}
   .easystep_section .row{margin:20px 0 0px;}
   .navbar > .container .navbar-brand{width: 285px; overflow: hidden; height:162px;position:relative;top:8px;width:26%;} 
}


.navbar-brand > img{height:80px;}




